$leftSidebar: 240px;
$rightSidebar: 316px;

@include wide {
  .root {
    max-width: 1440px;
  }

  .leftSidebar {
    position: sticky;
    width: $leftSidebar;
  }

  .rightSidebar {
    position: sticky;
    width: auto;
    max-width: $rightSidebar;
    transition: max-width 0.3s ease-in-out;
  }

  .main {
    max-width: calc(100% - $leftSidebar);
    transition: max-width 0.3s ease-in-out;
    

    &.withRightSidebar {
      max-width: calc(100% - $leftSidebar - $rightSidebar);
    }
  }
}